<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="ApplicationDomain.xml"></import>

    <bean name="target" class="com.wds.action.Target" />
    <bean name="as1" class="com.wds.action.aspect1" />
    <bean name="as2" class="com.wds.action.aspect2" />
    <aop:config>
        <aop:pointcut id="mycut" expression="execution(* com.wds.action.Target.execut())"/>
        <aop:aspect id="as1" ref="as1">
            <aop:before method="before" pointcut-ref="mycut" />
            <aop:around method="around" pointcut-ref="mycut" />
            <aop:after-returning method="afterReturning" pointcut-ref="mycut" />
            <aop:after method="after" pointcut-ref="mycut" />
        </aop:aspect><aop:aspect id="as2" ref="as2">
            <aop:before method="before" pointcut-ref="mycut" />
            <aop:around method="around" pointcut-ref="mycut" />
            <aop:after-returning method="afterReturning" pointcut-ref="mycut" />
            <aop:after method="after" pointcut-ref="mycut" />
        </aop:aspect>
    </aop:config>
</beans>